@model IEnumerable<demo2.Models.Sach>

@{
    ViewBag.Title = "KetQuaTimKiem";
    Layout = "~/Views/Layout/_Mainpage.cshtml";
}
<div class="content_important">
    <div class="my-2 ms-3 me-2">
        <div class="row bg-danger border border-0 rounded-2">
            
            <div class="my-3">
                <div class="row row-cols-1 row-cols-md-5 g-3">
                    @{
                        foreach (var item in Model)
                        {
                            <div class="col">
                                <div class="card h-100">
                                    <a href="@Url.Action("XemChiTiet", new { @ms=item.MaSach })"><img src="@Url.Content("~/HinhAnhSP/" + item.AnhBia)" alt="Image" /></a>
                                    <div class="card-body card_lor">
                                        <a href="@Url.Action("XemChiTiet", new { @ms=item.MaSach })">
                                            @if (item.TenSach.Length > 15)
                                            {
                                                <h5 class="card-title">@item.TenSach.Substring(0, 15)</h5>
                                                <p class="card-text">411.000Đ</p>
                                            }
                                            else
                                            {
                                                <h5 class="card-title">@item.TenSach</h5>
                                                <p class="card-text">411.000Đ</p>
                                            }
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

