@{
    Layout = "~/Views/Layout/DangNhap.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="form-container sign-in">
        <form action="#">
            <h2>Đăng Nhập</h2>
            <div class="form-group">
                <i class="fas fa-user"></i>
                @Html.TextBox("TenDN", null, new { placeholder = "Tài khoản" })

                <h3 class="error-message">@ViewData["Loi1"]</h3>
            </div>
            <div class="form-group">
                <i class="fas fa-lock"></i>
                @Html.Password("MatKhau", null, new { placeholder = "Mật khẩu" })

                <h3 class="error-message"> @ViewData["Loi2"]</h3>
            </div>
            <button type="submit" class="btn">Đăng Nhập</button>
            <div class="link">

                <p>Bạn chưa có tài khoản? <a href=@Url.Action("DangKy","Home") class="signup-link">Đăng Ký</a></p>
            </div>
            <h4 style="color: red; text-align: center; font-size: 15px;">@ViewBag.ThongBao</h4>
        </form>
    </div>
    <script src="https://kit.fontawesome.com/9e5ba2e3f5.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    @*<script>
        document.getElementById("close-btn").addEventListener("click", function () {
            Swal.fire({
                title: "Bạn có muốn thoát không?",
                icon: "question",
                showCancelButton: true,
                confirmButtonText: "Yes",
                cancelButtonText: "No",
            }).then((result) => {
                if (result.isConfirmed) {
                    document.querySelector(".form-container").style.display = "none";
        }
        });
        });
    </script>*@
}
